@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes waterRipple {
  0% {
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(4);
    opacity: 0;
  }
}
/* body {
  cursor: none;
}
button,
a,
input,
textarea {
  cursor: none;
} */
